body{
    direction: rtl;
}

/* Main Header */

#Top-page{
    background-color: rgb(255, 255, 255);
    height: 150px;
}
#Sematec-top-logo{
    width: 360px;
    height: 100px;
    display: block;
    margin-left: auto;
    right:100px;
}
#Sematec-top-logo:hover{
    cursor: pointer;
}
#select-language{
    position:absolute;
    left: 160px;
    top:15px;
}

/* Nav Bar */

nav {
    position:absolute;
    right:100px;
}
  

.subnav {
    float: left;
}
  
.subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: white;
    margin: 5px;
    
}
  
.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: gainsboro;
    cursor: pointer;
}
  
.subnav-content {
    display: none;
    position: relative;
    left: 0;
    background-color: #f5f5f5ed;
}
  
.subnav-content a {
    background-color: rgb(241, 226, 226);
    color: black;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-bottom: 3px rgb(201, 201, 201) solid;
}
  
.subnav-content a:hover {
    background-color: rgb(175, 216, 248);
    color: black;
    cursor: pointer;
}
  
.subnav:hover .subnav-content {
    display: block;
    cursor: pointer;
    
}

/* Boot camp picture */
#Bootcamp-container{
    padding-top: 5px;
    width: 100%;
    background-color: #eee;
}
#Bootcamp-picture{
    display: block;
    height: 310.5px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
#Bootcamp-picture:hover{
    cursor: pointer;
}

/* main */

main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin: auto;
    height: 741.6px;
    width: 912px;
    padding: 20px; 
    border: 1px outset;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    margin-bottom: 20px; 
}
#address-container{
    display: block;
}
#address-detail{
    float: right;
    display: inline-block;
    font-size: 13px;
}
#address-picture{
    display: inline-block;
    font-size: 13px;

}
.display-text{
    display:inline-block;
}
#map-picture{
    position: relative;
    height: 200px;
    width: 406px;
}
#form-container{
    display: block;
    
}
#contact-icon{
    font-size: 20px;
}

















/* footer */

footer{
    background-color: gainsboro;
    width: 100%;
}
#customers-text{
    display: inline-block;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.picture-property{
    display: inline-block;
}
#customers-picture{
    display: inline-block;
    margin: 40px;
}
#map-container{
    margin-left: auto;
    margin-right: auto;
}
#map{
    width: 100%;
}
#contact{
    background-color: white;
    display: block;
}
.footer-card-display{
    display: inline-block;
    height:152px;
    width: 294px;
    float: right;
    margin-right: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-justify: inter-word;
}
.sub-links{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    text-justify: inter-word;
    display: inline-block;
}
#second-sub-div{
    margin-right: 12px;
}
.links{
    display: block;
    text-decoration: none;
    color: black;
    padding:2px;
}
.links:hover{
    background-color: darkgray;
    font-weight: bold;
}
.social-media{
    text-decoration: none;
    color: gray;
}
.social-media:hover{
    color: black;
}

/* go up icon */
#go-up-icon{
    color: rgba(95, 3, 3, 0.575);
    text-decoration: none;
}
#go-up-container{
    position:fixed;
    display:block;
    top: 703.6px;
    bottom:20%;
    right: 10px;
    left: 1469.2px;
    z-index: 10000;
}